<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The <a href="http://www.sherig.org/"><em>Education Department</em></a> has
  <a href="http://tibetanteachers.com/">Education Council Section</a> and
  <a href="hhttp://lamton.org/">Counseling Seciton</a>
  to develop the 
  <a href="http://bodyiglobjong.com/">education standard of Tibetan</a>.
  This is the Scholarship DBMS.
</p>