<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Get help on the Sherig Scholarship at the
  <a href="http://sherig.org/en/contact/">Sherig Contact</a>.
  To get help on this Scholarship DBMS, see the
  <a href="http://bodyiglobjong.com/"><em>About Sherig Bodyiglobjong</em>
  book</a>.
</p>