<footer class="footer">
  <small>
    Copyright &copy <a href="http://www.sherig.org/">Department of Education</a>
    at <a href="http://www.tibet.net/">Central Tibetan Administration</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://sherig.org/en/category/news/">News</a></li>
    </ul>
  </nav>
</footer>